@import "../../../../vendor/filament/filament/resources/css/theme.css";

@config './tailwind.config.js';

@layer components {

    /* .fi-simple-layout {
        @apply bg-primary-400 dark:bg-info-950 !important;
    } */

    .fi-user-avatar {
        @apply !w-10 !h-10 !object-contain !important;
    }

    .fi-sidebar {
        @apply bg-primary-400 mr-4 rounded-2xl shadow-none dark:bg-info-950  !important;
    }

    .fi-sidebar-nav .fi-sidebar-nav-groups{
        @apply gap-y-2 !important;
    }

    .fi-sidebar button {
        @apply !text-gray-700 dark:!text-primary-400 !important;
    }

    .fi-sidebar-header {
        @apply ring-0 bg-primary-400 rounded-r-2xl shadow-none dark:bg-info-950 h-20 !important;
    }

    .fi-sidebar-header button {
        @apply  !text-gray-700 dark:!text-primary-400 !important;
    }

    .fi-sidebar-header .fi-logo {
            padding-top: 2rem !important;
            padding-bottom: 1rem !important;
        }

    .fi-sidebar-item-icon {
        @apply !text-gray-700 dark:text-primary-400 !important;
    }
    .fi-sidebar-item-active .fi-sidebar-item-icon {
        @apply !text-primary-700 dark:text-primary-400 !important;
    }

    .fi-sidebar-item-active .fi-sidebar-item-label {
        @apply !text-primary-700 dark:text-primary-400  !important;
    }

    .fi-sidebar-group-label {
        @apply !text-gray-700 dark:text-primary-400  !important;
    }

    .fi-topbar nav {
        @apply bg-primary-400 rounded-2xl dark:bg-info-950 !important;
    }

    .fi-topbar nav button {
        @apply !text-gray-700 dark:!text-primary-200 !important;
    }

    .fi-aside-section header {
        @apply bg-transparent rounded-none dark:bg-transparent !important;
    }

    .fi-aside-section header .fi-section-header-heading {
        @apply !text-primary-700 !text-2xl dark:text-primary-400 !important;
    }

    .fi-section-header {
        @apply py-3 bg-transparent rounded-t-lg dark:bg-info-950 !important;
    }

    /* .fi-section-header-heading {
        @apply !text-white dark:!text-primary-400 !important;
    } */
    

    /* .fi-ta-table th {
        @apply !border !border-gray-200 dark:!border-white/5 !important;
    }

    .fi-ta-table tbody tr .fi-ta-cell{
        @apply border border-gray-200 dark:border-white/5 !important;
    } */

      
    .fi-ta-ctn .py-4 {
        padding-top: .3rem !important;
        padding-bottom: .3rem !important;
    }

    /* .fi-icon-btn-icon {
        @apply !text-white dark:text-primary-400 !important;
    } */

    .fi-fieldset {
        @apply border-primary-400 dark:border-gray-400 !important;
    }

    .fi-fieldset legend {
        @apply !text-primary-700 text-xl dark:text-white !important;
    }

    #data\.foto > :first-child {
        @apply !w-60 !important;
    }

    .fi-pond-ta {
        @apply !w-60 !h-72 !important;
    }

    .fi-in-repeatable li {
        @apply ring-primary-400 dark:ring-gray-400 !important;
    }

    .fi-in-tabs {
        @apply ring-primary-400 dark:ring-gray-400 !important;
    }

    .fi-in-tabs .fi-tabs {
        @apply !bg-primary-400 dark:bg-info-950 rounded-t-xl !important;
    }

    .fi-in-tabs .fi-tabs .fi-tabs-item .fi-tabs-item-icon {
        @apply text-white dark:text-white !important;
    }

    .fi-in-tabs .fi-tabs .fi-tabs-item-active .fi-tabs-item-icon {
        @apply !text-primary-400 dark:text-white !important;
    }
    
    .fi-in-tabs .fi-tabs .fi-tabs-item .fi-tabs-item-label {
    @apply !text-white dark:text-white !important;
     }

    .fi-in-tabs .fi-tabs .fi-tabs-item-active .fi-tabs-item-label {
    @apply !text-primary-400 dark:text-white !important;
    }

    .deskel-profile-section .fi-in-placeholder {
        @apply text-white dark:!text-gray-500 !important;
    }


    /* .fi-pond-ta {
        @apply !h-64  !important;
    } */
    

    /* .fi-badge .grid .truncate {
        @apply overflow-visible whitespace-normal !important;
    } */

    /* .fi-sidebar {
        @apply bg-[#96B6C5] mr-4 rounded-lg dark:bg-info-800  !important;
    }

    .fi-sidebar-header {
        @apply ring-0  bg-[#96B6C5] shadow-none rounded-lg dark:bg-info-800 !important;
    }

    .fi-sidebar-header button {
        @apply pl-4 !text-blue-950 dark:!text-white !important;
    }

    .fi-sidebar-open .fi-sidebar-header button {
        @apply !text-blue-950  dark:text-white !important;
    }

    .fi-sidebar-open .fi-sidebar-header {
        @apply mt-4 shadow-none dark:bg-info-800   !important;
    }

    nav {
        @apply pr-2 !important;
    }

    .fi-body {
        @apply bg-[#F1F0E8] dark:from-slabg-info-950 dark:to-slabg-info-950 !important;
    }

    .fi-sidebar-item-icon {
        @apply !text-gray-800 dark:text-info-800 !important;
    }

    .fi-sidebar-item-label {
        @apply !text-gray-800 dark:text-info-800  !important;
    }

    .fi-sidebar-group div button {
        @apply !text-gray-800 dark:text-white focus:ring-transparent !important;
    }
    .fi-sidebar-group div span {
        @apply !text-gray-800 dark:text-white !important;
    }

    .fi-sidebar-item-active .fi-sidebar-item-label {
        @apply !text-primary-900 dark:text-info-800 !important;
    }

    .fi-sidebar-item {
        @apply !text-white dark:text-info-800 dark:bg-info-800 !important;
    }


    .fi-sidebar-item-active .fi-sidebar-item-label {
        @apply !text-gray-800 dark:text-gray-300 !important;
    }

    .fi-sidebar-item-active a {
        @apply !text-black bg-[#F1F0E8] dark:bg-[#2E4374] dark:text-info-800  !important;
    }

    .fi-sidebar-item-active .fi-sidebar-item-icon {
        @apply !text-gray-800 dark:text-gray-300 !important;
    }
     .fi-sidebar-item-active .fi-sidebar-item-icon :hover {
        @apply !text-white dark:text-gray-300 !important;
    }


    .fi-topbar nav {
        @apply mr-4 bg-[#96B6C5] rounded-lg dark:bg-info-800 !important;
    }

    .fi-sidebar-nav ul{
        @apply gap-y-2 !important;
    } */

    /* .fi-sidebar-nav ul li{
        @apply hover:bg-[#F1F0E8] rounded-lg !important;
    } */

    
}

